.text-center {
  text-align: center;
}

.no-wrap {
  white-space:no-wrap;
  flex-wrap: no-wrap;
  display: inline-block;
}

.mb {
  margin-bottom: var(--space)!important;
}

.mb-x2 {
  margin-bottom: var(--space-x2)!important;
}


.pb {
  padding-bottom: var(--space)!important;
}

.ml {
  margin-left: 10px!important;
}

@media screen and (min-width: 1025px) {
  .show-for-small {
    display: none !important;
  }
}

@media screen and (max-width: 1024px) {
  .hide-for-small {
    display: none !important;
  }
}
