html.dark {
  // brand colors
  --c-brand: #74b3eb;

  // background colors
  --c-bg: #2d3746;
  --c-bg-light: #313d4e;
  --c-bg-lighter: #404d61;

  // text colors
  --c-text: rgba(255, 255, 255, .8);
  --c-text-quote: #8B8B8B;

  // border colors
  --c-border: #3e4c5a;
  --c-border-dark: #34404c;

  // custom container colors
  --c-tip: #318a62;
  --c-warning: #ceab00;
  --c-warning-title: #ceac03;
  --c-danger: #940000;
  --c-danger-title: #610000;

  // code blocks vars
  --code-hl-bg-color: #363b46;

  // inline code colors
  --inline-code-color: #96c2eb;
  --inline-code-bg-color: rgba(76, 86, 128, 0.4);

  // shadow
  --box-shadow-hover: 0 2px 16px 0 rgba(27, 35, 47, .7);
}
