:root {
  // brand colors
  --c-brand: #377bb5;

  // background colors
  --c-bg: #ffffff;
  --c-bg-light: #fafafa;
  --c-bg-lighter: #f6f6f6;
  --c-bg-navbar: var(--c-bg);
  --c-bg-sidebar: var(--c-bg);
  --c-bg-arrow: #cccccc;

  // text colors
  --c-text: rgba(0, 0, 0, .9);
  --c-text-accent: var(--c-brand);
  --c-text-quote: #7F7F7F;

  // border colors
  --c-border: #eaecef;
  --c-border-dark: #dfe2e5;

  // custom container colors
  --c-tip: #42b983;
  --c-tip-bg: var(--c-bg-lighter);
  --c-tip-title: var(--c-text);
  --c-warning: #e7c000;
  --c-warning-bg: var(--c-bg-lighter);
  --c-warning-title: #ad9000;
  --c-danger: #cc0000;
  --c-danger-bg: var(--c-bg-lighter);
  --c-danger-title: #990000;
  --c-details-bg: var(--c-bg-lighter);

  // badge component colors
  --c-badge-tip: var(--c-tip);
  --c-badge-warning: var(--c-warning);
  --c-badge-danger: var(--c-danger);

  // transition vars
  --t-color: 0.3s ease;
  --t-transform: 0.3s ease;

  // code blocks vars
  --code-bg-color: #282c34;
  --code-hl-bg-color: rgba(0, 0, 0, 0.66);
  --code-ln-color: #9e9e9e;
  --code-ln-wrapper-width: 3.5rem;

  // inline code colors
  --inline-code-color: #c52950;
  --inline-code-bg-color: #f9f2f4;

  // shadow
  --box-shadow-hover: 0 2px 16px 0 rgba(27, 35, 47, .2);

  // font vars
  --font-family: Jost, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  --font-family-code: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;

  // layout vars
  --navbar-height: 3.6rem;
  --navbar-padding-v: 0.7rem;
  --navbar-padding-h: 1.5rem;
  --sidebar-width: 20rem;
  --sidebar-width-mobile: calc(var(--sidebar-width) * 0.82);
  --content-width: 740px;
  --homepage-width: 610px;
}

// plugin-medium-zoom
.medium-zoom-overlay {
  --medium-zoom-bg-color: var(--c-bg);
}

// plugin-nprogress
#nprogress {
  --nprogress-color: var(--c-brand);
}

// plugin-search
.search-box {
  --search-bg-color: var(--c-bg);
  --search-accent-color: var(--c-brand);
  --search-text-color: var(--c-text);
  --search-border-color: var(--c-border);
  --search-item-text-color: var(--c-text);
  --search-item-focus-bg-color: var(--c-bg-light);
}
